@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7d1a6ef;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  padding:25px;
  border:0.1px solid rgb(225, 225, 225);
  margin: 15px;
  display: flex;
  flex-direction: column;
  width:30%;
  height: auto;
  background-color: rgba(219, 216, 216, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
}

.app__image {
  margin:24px;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow:  0 8px 32px 0 rgba(163, 46, 198, 0.559);
}

.location_searcher {
  padding: 8px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  margin-top: 10px; 
  margin: 5px;
}

.location_input {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #333;
  border-radius: 5px;
  margin-top: 10px; 
  width: 55%;
}

button:link {
  background-color: gray;
}

button:visited {
  background-color: violet;
}

button:hover {
  background-color: blue;
}

button:active {
  background-color: red;
}

.temp {
  margin: 5px;
  font-family: Poppins;
  color: #2e2e2e;
  text-align: center;
  word-wrap: normal;
}